

NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_clock = PERIOD "CLK" 10 ns HIGH 50 %;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK" LOC = T9;

# PlanAhead Generated IO constraints 



NET "EN_FIB_OP" LOC = K13;
NET "EN_FIB_OP" IOSTANDARD = LVCMOS33;

NET "RED_REF" LOC = C8;
NET "RED_REF" IOSTANDARD = LVCMOS33;

NET "YEL_REF" LOC = F8;
NET "YEL_REF" IOSTANDARD = LVCMOS33;

NET "BLU_REF" LOC = E8;
NET "BLU_REF" IOSTANDARD = LVCMOS33;

NET "LED1" LOC = C3;							#Phases present
NET "LED1" IOSTANDARD = LVCMOS33; 

NET "LED2" LOC = B3;							#Rotation ok
NET "LED2" IOSTANDARD = LVCMOS33;

NET "ZX_INT" LOC = C16;
NET "ZX_INT" IOSTANDARD = LVCMOS33;


NET "n_CS" LOC = H4;
NET "n_CS" IOSTANDARD = LVCMOS33;


NET "n_OE" LOC = H3;
NET "n_OE" IOSTANDARD = LVCMOS33;


NET "n_WE" LOC = L8;
NET "n_WE" IOSTANDARD = LVCMOS33;
NET "n_WE" CLOCK_DEDICATED_ROUTE = TRUE;

NET "D[15]" LOC = H5;
NET "D[15]" IOSTANDARD = LVCMOS33;
NET "D[15]" SLEW = FAST;


NET "D[14]" LOC = H6;
NET "D[14]" IOSTANDARD = LVCMOS33;
NET "D[14]" SLEW = FAST;


NET "D[13]" LOC = G3;
NET "D[13]" IOSTANDARD = LVCMOS33;
NET "D[13]" SLEW = FAST;


NET "D[12]" LOC = G2;
NET "D[12]" IOSTANDARD = LVCMOS33;
NET "D[12]" SLEW = FAST;


NET "D[11]" LOC = G5;
NET "D[11]" IOSTANDARD = LVCMOS33;
NET "D[11]" SLEW = FAST;


NET "D[10]" LOC = G4;
NET "D[10]" IOSTANDARD = LVCMOS33;
NET "D[10]" SLEW = FAST;


NET "D[9]" LOC = D1;
NET "D[9]" IOSTANDARD = LVCMOS33;
NET "D[9]" SLEW = FAST;


NET "D[8]" LOC = E1;
NET "D[8]" IOSTANDARD = LVCMOS33;
NET "D[8]" SLEW = FAST;


NET "D[7]" LOC = F3;
NET "D[7]" IOSTANDARD = LVCMOS33;
NET "D[7]" SLEW = FAST;


NET "D[6]" LOC = F4;
NET "D[6]" IOSTANDARD = LVCMOS33;
NET "D[6]" SLEW = FAST;


NET "D[5]" LOC = E3;
NET "D[5]" IOSTANDARD = LVCMOS33;
NET "D[5]" SLEW = FAST;


NET "D[4]" LOC = E4;
NET "D[4]" IOSTANDARD = LVCMOS33;
NET "D[4]" SLEW = FAST;


NET "D[3]" LOC = C1;
NET "D[3]" IOSTANDARD = LVCMOS33;
NET "D[3]" SLEW = FAST;


NET "D[2]" LOC = C2;
NET "D[2]" IOSTANDARD = LVCMOS33;
NET "D[2]" SLEW = FAST;


NET "D[1]" LOC = B1;
NET "D[1]" IOSTANDARD = LVCMOS33;
NET "D[1]" SLEW = FAST;


NET "D[0]" LOC = B2;
NET "D[0]" IOSTANDARD = LVCMOS33;
NET "D[0]" SLEW = FAST;

NET "A[0]" LOC = K1;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "A[0]" SLEW = FAST;

NET "A[1]" LOC = M1;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[1]" SLEW = FAST;

NET "A[2]" LOC = N1;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[2]" SLEW = FAST;

NET "A[3]" LOC = P1;
NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[3]" SLEW = FAST;

NET "A[4]" LOC = R1;
NET "A[4]" IOSTANDARD = LVCMOS33;
NET "A[4]" SLEW = FAST;

NET "A[5]" LOC = J1;
NET "A[5]" IOSTANDARD = LVCMOS33;
NET "A[5]" SLEW = FAST;

NET "A[6]" LOC = K3;
NET "A[6]" IOSTANDARD = LVCMOS33;
NET "A[6]" SLEW = FAST;